@import "assets/stylesheets/cursor.css";
@import "assets/stylesheets/main.css";
@import "assets/stylesheets/presentation.css";
@import "assets/stylesheets/projects.css";

/* body {
  background-color: #091409;
  margin: 0;
  color: #BAB196;
  font-family: 'IBM Plex Mono', monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
} */

/* .cursor {
  pointer-events: none;
  display: none;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 10;
}

circle {
  fill: #f7f8fa;
} */

/* .container {
  height: 100%;
  display: flex;
} */

.titles__container {
  position: sticky;
  height: 100vh;
  width: 190px;
  top: 0;
}

.titles__position {
  position: relative;
  width: 100%;
  height: 100%;
}

.titles__wrapper {
  transform: rotate(-90deg);
  transform-origin: top left;
  position: absolute;
  bottom: 100px;
}

.titles__pair {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
  font-size: 10vh;
  margin: 0;
  color: #b27410;
}

.titles__pair--first {
  position: absolute;
  bottom: 0;
  left: 0;
}

.titles__pair--second {
  position: absolute;
  bottom: 0;
  left: 0;
}

.titles__title1 {
  position: absolute;
  top: 0;
}

.titles__title2 {
  position: absolute;
  top: 65px;
  left: 5px;
  white-space: nowrap;
}

.titles__shadow1 {
  color: transparent;
  position: absolute;
  top: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #F0D967;
  opacity: .25;
  z-index: -1;
  will-change: transform;
  white-space: nowrap;
}

.titles__shadow2 {
  color: transparent;
  position: absolute;
  top: 65px;
  left: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #F0D967;
  opacity: .25;
  z-index: -1;
  will-change: transform;
  white-space: nowrap;
}

/* .content__container {
  height: fit-content;
  width: 100%;
  overflow: hidden;
}

.social__container {
  width: fit-content;
  height: fit-content;
  font-size: 0.9rem;
}

.social__text {
  position: fixed;
  color: #b27410;
  opacity: 0.6;
  cursor: none;
} */

/* .social__text--github {
  top: 10px;
  right: 25px;
  text-decoration: none;
  z-index: 1;
}

.social__text--linkedin {
  top: 37px;
  right: 30px;
  transform: rotate(270deg);
  transform-origin: top right;
  text-decoration: none;
  z-index: 1;
} */

/* .social__text--github:hover, .social__text--linkedin:hover {
  color: #152218;
  box-shadow: inset 0 -30px 0 #b27410;
} */

/* .presentation__container {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100vh;
  width: 100%;
}

.presentation__text-wrapper {
  margin: 0 auto;
  width: 50vw;
  position: relative;
  top: 17vh;
} */

/* .presentation__text {
  font-size: 4vw;
  text-align: justify;
}

.presentation__text--link {
  color: #BAB196;
  cursor: none;
  transition: box-shadow .3s, text-decoration .3s, color .3s;
} */

/* .presentation__text--link:hover {
  color: #152218;
  box-shadow: inset 0 -30px 0 #BAB196, 0 2px 0 #BAB196;
  text-decoration: none;
}

.presentation__canvas {
  display: none;
  touch-action: none;
  position: absolute;
  bottom: 150px;
  left: 250px;
  z-index: 1;
} */

/* .presentation__arrow {
  position: fixed;
  bottom: 30px;
  right: 20px;
  -webkit-animation: bounceandfade 4s ease-in-out infinite;
  -moz-animation: bounceandfade 4s ease-in-out infinite;
  animation: bounceandfade 4s ease-in-out infinite;
}

.presentation__arrow-path {
  fill: transparent;
  stroke-width: 0px;
  stroke: #425A3D;
} */

/* .presentation__arrow--hidden {
  display: none;
} */

/* @-webkit-keyframes bounceandfade {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}

@-moz-keyframes bounceandfade {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}

@keyframes bounceandfade {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
} */

/* .projects__container {
  position: relative;
  height: fit-content;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 150px;
} */

/* .project__container {
  margin-bottom: 100px;;
}

.project__container--infamous {
  min-height: 320px;
}

.project__container--weather {
  min-height: 320px;
}

.project__container--portfolio {
  min-height: 270px;
}

.project__container--desktop {
  display: none;
} */

/* .project__container:hover .project__icon {
  opacity: 1;
  transform: translateX(-20px);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: leftentry;
  animation-name: leftentry;
} */

/* @-webkit-keyframes leftentry {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(-20px);
  }
}

@-moz-keyframes leftentry {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(-20px);
  }
}

@keyframes leftentry {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(-20px);
  }
} */

/* .project__text-wrapper {
  position: relative;
  top: 50%;
  left: 250px;
  width: fit-content;
  border-left: 1px dashed #33423F;
  padding: 1rem 2rem;
} */

/* .project__text-wrapper--mobile {
  left: 0px;
  padding: 1rem;
  margin-left: 1rem;
} */

/* .project__infamous-wrapper--animated-in {
  height: 278px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeindownborderinfamous;
  animation-name: fadeindownborderinfamous;
} */

/* @-webkit-keyframes fadeindownborderinfamous {
  0% {
    height: 85px;
  }

  100% {
    height: 278px;
  }
}

@-moz-keyframes fadeindownborderinfamous {
  0% {
    height: 85px;
  }

  100% {
    height: 278px;
  }
}

@keyframes fadeindownborderinfamous {
  0% {
    height: 85px;
  }

  100% {
    height: 278px;
  }
} */

/* .project__infamous-wrapper--animated-out {
  height: 85px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeinupborderinfamous;
  animation-name: fadeinupborderinfamous;
} */

/* @-webkit-keyframes fadeinupborderinfamous {
  0% {
    height: 278px;
  }

  100% {
    height: 85px;
  }
}

@-moz-keyframes fadeinupborderinfamous {
  0% {
    height: 278px;
  }

  100% {
    height: 85px;
  }
}

@keyframes fadeinupborderinfamous {
  0% {
    height: 278px;
  }

  100% {
    height: 85px;
  }
} */

/* .project__portfolio-wrapper--animated-in {
  height: 234px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeindownborderportfolio;
  animation-name: fadeindownborderportfolio;
} */

/* @-webkit-keyframes fadeindownborderportfolio {
  0% {
    height: 85px;
  }

  100% {
    height: 234px;
  }
}

@-moz-keyframes fadeindownborderportfolio {
  0% {
    height: 85px;
  }

  100% {
    height: 234px;
  }
}

@keyframes fadeindownborderportfolio {
  0% {
    height: 85px;
  }

  100% {
    height: 234px;
  }
} */

/* .project__portfolio-wrapper--animated-out {
  height: 85px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeinupborderportfolio;
  animation-name: fadeinupborderportfolio;
} */

/* @-webkit-keyframes fadeinupborderportfolio {
  0% {
    height: 234px;
  }

  100% {
    height: 85px;
  }
}

@-moz-keyframes fadeinupborderportfolio {
  0% {
    height: 234px;
  }

  100% {
    height: 85px;
  }
}

@keyframes fadeinupborderportfolio {
  0% {
    height: 234px;
  }

  100% {
    height: 85px;
  }
} */

/* .project__weather-wrapper--animated-in {
  height: 278px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeindownborderweather;
  animation-name: fadeindownborderweather;
} */

/* @-webkit-keyframes fadeindownborderweather {
  0% {
    height: 85px;
  }

  100% {
    height: 278px;
  }
}

@-moz-keyframes fadeindownborderweather {
  0% {
    height: 85px;
  }

  100% {
    height: 278px;
  }
}

@keyframes fadeindownborderweather {
  0% {
    height: 85px;
  }

  100% {
    height: 278px;
  }
} */

/* .project__weather-wrapper--animated-out {
  height: 85px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeinupborderweather;
  animation-name: fadeinupborderweather;
} */

/* @-webkit-keyframes fadeinupborderweather {
  0% {
    height: 278px;
  }

  100% {
    height: 85px;
  }
}

@-moz-keyframes fadeinupborderweather {
  0% {
    height: 278px;
  }

  100% {
    height: 85px;
  }
}

@keyframes fadeinupborderweather {
  0% {
    height: 278px;
  }

  100% {
    height: 85px;
  }
} */

/* .project__title-wrapper {
  display: flex;
  align-items: center;
} */

/* .project__icon {
  position: absolute;
  left: -175px;
  opacity: 0;
}

.project__icon-path {
  fill: transparent;
  stroke-width: 1px;
  stroke: #b27410;
}

.project__icon-path--plus {
  animation: lineshape 1.9s linear forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  stroke-dasharray: 510;
  stroke-dashoffset: 260;
}

.project__icon-path--plus:hover {
  fill: #b27410;
  animation: none;
  stroke-dashoffset: 0;
}

.project__icon-path--minus {
  animation: lineshape 1.9s linear forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  stroke-dasharray: 700;
  stroke-dashoffset: 575;
}

.project__icon-path--minus:hover {
  fill: #b27410;
  animation: none;
  stroke-dashoffset: 0;
} */

/* @-webkit-keyframes lineshape {
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes lineshape {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lineshape {
  to {
    stroke-dashoffset: 0;
  }
} */

/* .project__title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 6vw;
  color: #b27410;
} */

/* .project__description {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 4vw;
  color: #BAB196;
  width: 50vw;
}

.project__description--link {
  color: #BAB196;
  cursor: none;
} */

/* .project__description--link:hover {
  color: #152218;
  box-shadow: inset 0 -30px 0 #BAB196, 0 2px 0 #BAB196;
  text-decoration: none;
}

.project__description--hide {
  display: none;
}

.project__description--animated-in {
  opacity: 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeindowntext;
  animation-name: fadeindowntext;
} */

/* @-webkit-keyframes fadeindowntext {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeindowntext {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeindowntext {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* .project__description--animated-out {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeinuptext;
  animation-name: fadeinuptext;
} */

/* .footer__text {
  text-align: center;
  margin: 5px 0;
} */

/* .footer__container {
  margin: 100px 0 10px 0;
} */

/* @-webkit-keyframes fadeinuptext {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes fadeinuptext {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}

@keyframes fadeinuptext {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
} */


@media(min-width: 720px) {
  /* body {
    cursor: none;
  } */
  /* .cursor {
    display: block;
  } */
  /* .content__container {
    width: calc(100vw - 250px);
  } */
  /* .projects__container {
    margin-top: 300px;
  } */
  /* .project__title {
    font-size: 2rem;
  }
  .project__description {
    width: 300px;
    font-size: 1.1rem;
  } */
  /* .presentation__arrow-path {
    stroke-width: 1px;
  } */
  /* .presentation__canvas {
    display: block;
  } */
  /* .presentation__text-wrapper {
    margin: 10vh auto;
    width: 390px;
    position: unset;
    top: unset;
  } */
  /* .presentation__text {
    font-size: 1.1rem;
    line-height: 27px;
  } */
  .titles__container {
    width: 250px;
  }
  .titles__wrapper {
    bottom: 30px;
  }
  .titles__pair {
    font-size: 10vh;
  }
  .titles__title2 {
    top: 130px;
  }
  .titles__shadow2 {
    top: 130px;
  }
}

/* @media(min-width: 920px) {
  .project__description {
    width: 500px;
  }
} */

@media(min-width: 1090px) {
  .titles__pair {
      font-size: 14vh;
    }
  /* .presentation__text-wrapper {
    position: absolute;
    bottom: 32%;
    right: 450px;
    margin: 0;
  } */
  /* .presentation__canvas {
    position: absolute;
    bottom: -200px;
    right: 200px;
    left: unset;
  } */
  /* .footer__container {
    margin: 20px 0;
  } */
}

@media(min-width: 1200px) {
  /* .project__description {
    width: 700px;
  } */
  .project__container--mobile {
    display: none;
  }

  /* .project__container--desktop {
    display: block;
  } */

}

/* @media(min-width: 1450px) {
  .projects__container {
    padding-left: 10vw;
  }
} */
@media(min-width: 1800px) {
  .titles__title2 {
    top: 135px;
  }
  .titles__shadow2 {
    top: 135px;
  }
  /* .presentation__canvas {
    bottom: -100px;
  } */
}
