body {
  background-color: #091409;
  margin: 0;
  color: #BAB196;
  font-family: 'IBM Plex Mono', monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  height: 100%;
  display: flex;
}

@media(min-width: 720px) {
  body {
    cursor: none;
  }

  .cursor {
    display: block;
  }

  .content__container {
    width: calc(100vw - 250px);
  }

  .projects__container {
    margin-top: 300px;
  }

  .project__title {
    font-size: 2rem;
  }

  .project__description {
    width: 300px;
    font-size: 1.1rem;
  }

  .presentation__arrow-path {
    stroke-width: 1px;
  }

  .presentation__canvas {
    display: block;
  }

  .presentation__text-wrapper {
    margin: 10vh auto;
    width: 390px;
    position: unset;
    top: unset;
  }

  .presentation__text {
    font-size: 1.1rem;
    line-height: 27px;
  }

  .titles__container {
    width: 250px;
  }

  .titles__wrapper {
    bottom: 30px;
  }

  .titles__pair {
    font-size: 10vh;
  }

  .titles__title2 {
    top: 130px;
  }

  .titles__shadow2 {
    top: 130px;
  }
}

@media(min-width: 920px) {
  .project__description {
    width: 500px;
  }
}

@media(min-width: 1090px) {
  .titles__pair {
    font-size: 14vh;
  }

  .presentation__text-wrapper {
    position: absolute;
    bottom: 32%;
    right: 450px;
    margin: 0;
  }

  .presentation__canvas {
    position: absolute;
    bottom: -200px;
    right: 200px;
    left: unset;
  }

  .footer__container {
    margin: 20px 0;
  }
}

@media(min-width: 1200px) {
  .project__description {
    width: 700px;
  }

  .project__container--mobile {
    display: none;
  }

  .project__container--desktop {
    display: block;
  }

}

@media(min-width: 1450px) {
  .projects__container {
    padding-left: 10vw;
  }
}

@media(min-width: 1800px) {
  .titles__title2 {
    top: 135px;
  }

  .titles__shadow2 {
    top: 135px;
  }

  .presentation__canvas {
    bottom: -100px;
  }
}
