body {
  background-color: #091409;
  margin: 0;
  color: #BAB196;
  font-family: 'IBM Plex Mono', monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  height: 100%;
  display: flex;
}

@media(min-width: 720px) {
  body {
    cursor: none;
  }
}
